.result.ok {
	color: white;
	background: green;
}
.result.ok pre {
	color: black;
	background: white;
	border: 1px solid black;
}
.result.fail {
	color: black;
	background: red;
}
.result {
	padding: 0 5px;
